@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Fira+Sans+Condensed:ital,wght@0,300;0,400;1,300;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    height: 100%;
    overflow: visible;
}

body{
    margin: 0;
    background-color: white;

    animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

header{
    margin: 0px;
}

footer{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    margin: 2rem;
    color: #1d3f5b;
}

menu{
    list-style: none;
}

li{
    margin: 1rem;
    overflow: hidden;
}

li:hover{
    transition: 0.2s;
    font-size: 27px;
    
}

.br{
    height: 0px;
}

/* Barra de Navegação */

.logo{
    font-family: 'Bayon', sans-serif;
    font-size: 28px;
    letter-spacing: 1.3px;
    padding-right: 2rem;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.naveg{
    height: 65px;
    padding: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1C3B56;
    justify-content: space-between;
    font-family: 'Bayon', sans-serif;
    font-size: 25px;
    letter-spacing: 1.1px;
    color: white;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 0;
}

.menu-background{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fachada do Site */

.fachada-container{
    width: 100%;
    height: fit-content;
    padding: 2.5rem 3.5rem 2rem 3.5rem;
    overflow: auto;

    background: #1d3f5b;
    background: linear-gradient(180deg, #1d3f5b 5%, #224768 30%, #275278 55%, #295880 80%) fixed;
}

.fachada-texto{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    margin: 0rem 27vw 1rem 0rem;
    line-height: 137%;
    color: #FFFFFF;
}

.fachada-img{
    width: 20rem;
    height: 20rem;
    max-width: 25%;
    max-height: 25%;
    border-radius: 1rem;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
    align-self: center;
    object-fit: cover;
    object-position: center;
}

/* SITE EM BRANCO */

/* Grandes Vantagens da Linguagem Python */

.vantagens-container{
    width: 85vw;
    height: fit-content;
    margin: 1.5rem 15vw 2rem 3.5rem;
    overflow: none;
}

.vantagens-titulo{
    font-family: 'Bayon', sans-serif;
    font-size: 2.3rem;
    letter-spacing: 1px;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    color: #295880;
}

.vantagens-img{
    width: auto;
    height: 2px;
    object-fit: contain;
    object-position: center;
}

.vantagens-topicos{
    font-family: 'Fire Sans', sans-serif;
    font-size: 1.4rem;
    margin: 0rem 0rem 1rem 0rem;
    color: #295880;
}

.vantagens-box{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    flex-direction: row;
    row-gap: 2.2rem;
    column-gap: 3.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 137%;
    color: #171c21;
}

.vantagens-itens{
    width: 30%;
    height: fit-content;
}

/* Aplicações da Linguagem Python */

.aplica-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: auto;
    align-items: auto;
    align-content: auto;
    width: auto;
    height: auto;
    margin: 3rem;
    padding-top: 0.2rem;
    padding-bottom: 1.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 1rem;
    overflow: auto;
    background-color: #254F72;
}

.blocos{
    background-color: #1C3B56;
    width: 40%;
    row-gap: 3rem;
    column-gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 5rem;
    margin-left: 6rem;
    border-radius: 1rem;
    
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 1.9rem;
    line-height: 137%;
    color: #FFFFFF;
}

.bloco-ult{
    background-color: #1C3B56;
    width: 40%;
    row-gap: 3rem;
    column-gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 6rem;
    border-radius: 1rem;

    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 1.9rem;
    line-height: 137%;
    color: #FFFFFF;
}



.imagem-texto-sobre{
    width: 100%;
    height: 37rem;
    max-width: 25%;
    max-height: 25%;
    border-radius: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    object-fit: cover;
    object-position: center;
}

.titulo{
    font-family: 'Bayon', sans-serif;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 5rem;
    margin: 0rem;
    color: white;
}

.pagina{
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 137%;
    color: #FFFFFF;
}

.download{
    margin-top: 3.2rem; 
    margin-left: 5rem; 
    outline-style: auto; 
    outline-width: 4rem; 
    padding: 2rem;
    position: absolute;

    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none; 
    font-weight: bold; 
    font-size: 3rem; 
    line-height: 137%;
    color: #FFFFFF;
}

.iframe{
    border:none;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
}