@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    letter-spacing: -0.8px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62%;
    overflow: hidden;
    height: 100%;
}

body{
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: rgb(51,58,78);
    background: linear-gradient(180deg, rgba(51,58,78,1) 19%, rgba(25,59,87,1) 65%);
}

header{
    margin: 0px;
}

a, .titulo{
    text-decoration: none;
    color: white;
}

a, .menu{
    text-decoration: none;
    color: white;
}

menu{
    list-style: none;
}

.titulo{
    font-size: 2.6rem;
    font-weight: bolder;
    color: white;
    display: inline-block;
}

.titulo strong{
    padding-right: 2rem;
    color: white;
}

.naveg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #1e2933;
    color: white;
    height: 65px;
    padding: 1em;
    border-bottom: #384654;
    font-size: 25px;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
}

.menu>li{
    margin: 0 1rem;
    overflow: hidden;
}

.menu li:hover{
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
}

.menu-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle{
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 6px;
    width: 32px;
    border-radius: 3px;
    color: white;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}