@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Fira+Sans+Condensed:ital,wght@0,300;0,400;1,300;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    height: 100%;
    overflow: visible;
}

body{
    margin: 0;
    background-color: white;

    animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

header{
    margin: 0px;
}

footer{
    line-height: 110%;
    padding: 1rem;
    background: #1d3f5b;
    background: linear-gradient(360deg, #1d3f5b 5%, #224768 30%, #275278 55%, #295880 80%) fixed;
}

menu{
    list-style: none;
}

li{
    margin: 1rem;
    overflow: hidden;
}

li:hover{
    transition: 0.2s;
    font-size: 27px; 
}

li::after{
    transition: 0.2s;
    font-size: 25px;
}

.br{
    height: 0px;
}

/* Barra de Navegação */

.logo{
    font-family: 'Bayon', sans-serif;
    font-size: 28px;
    letter-spacing: 1.3px;
    padding-right: 2rem;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.naveg{
    height: 65px;
    padding: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1C3B56;
    justify-content: space-between;
    font-family: 'Bayon', sans-serif;
    font-size: 25px;
    letter-spacing: 1.1px;
    color: white;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 0;
}

.menu-background{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fachada do Site */

.fachada-container{
    width: 100%;
    height: fit-content;
    padding: 2.5rem 3.5rem 2rem 3.5rem;
    overflow: auto;

    background: #1d3f5b;
    background: linear-gradient(180deg, #1d3f5b 5%, #224768 30%, #275278 55%, #295880 80%) fixed;
}

.fachada-texto{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    margin: 0rem 27vw 1rem 0rem;
    line-height: 137%;
    color: #FFFFFF;
}

.fachada-img{
    width: 20rem;
    height: 20rem;
    max-width: 25%;
    max-height: 25%;
    border-radius: 1rem;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
    align-self: center;
    object-fit: cover;
    object-position: center;
}

/* SITE EM BRANCO */

/* Grandes Vantagens da Linguagem Python */

.vantagens-container{
    width: 85vw;
    height: fit-content;
    margin: 1.5rem 3.5rem 2rem 3.5rem;
    overflow: none;
}

.titulo{
    font-family: 'Bayon', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;
    color: #295880;
}

.vantagens-linha{
    width: 100%;
    height: 3px;
    margin-bottom: 1.5rem;
    border: #295880;
    background-color: #295880;
}

.vantagens-topicos{
    font-family: 'Fire Sans', sans-serif;
    font-size: 1.4rem;
    margin: 0rem 0rem 0.5rem 0rem;
    color: #295880;
}

.vantagens-box{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    flex-direction: row;
    row-gap: 2.2rem;
    column-gap: 3.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 137%;
    color: #171c21;
}

.vantagens-itens{
    width: 30%;
    height: fit-content;
}

/* Feito em Linguagem Python */

.aplica-container{
    background-color: #4c5e8f1b;
    border-radius: 5px;
    width: 85vw;
    height: fit-content;
    margin: 1.5rem 3.5rem 2rem 3.5rem;
    padding: 1rem 2.5rem 2.2rem 2.5rem;
}

.aplica-intro{
    margin-right: 18vw;
    margin-bottom: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 137%;
    color: #171c21;
}

.aplica-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 1.5rem;
    column-gap: 2rem;
    max-height: 50%;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.aplica-itens{
    margin-right: 8vw;
    width: 100%;
    height: 100%;
}

.aplica-img{
    border-radius: 50%;
    object-fit:cover;
    height: 10rem;
    width: 10rem;
    margin-right: 1.5rem;
}

.aplica-topico{
    font-family: 'Fire Sans', sans-serif;
    font-size: 1.2rem;
    margin-top: 1.3rem;
    margin-bottom: 0.8rem;
    color: #295880;
}

.aplica-texto{
    margin-right: 3rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 137%;
    color: #171c21;
}

.download{
    margin-top: 3.2rem; 
    margin-left: 5rem; 
    outline-style: auto; 
    outline-width: 4rem; 
    padding: 2rem;
    position: absolute;

    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none; 
    font-weight: bold; 
    font-size: 3rem; 
    line-height: 137%;
    color: #FFFFFF;
}

/* Footer */

.footer-logo{
    font-family: 'Bayon', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-left: 2rem;
    color: #FFFFFF;
}

.footer-texto{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    margin-left: 2rem;
    line-height: 137%;
    color: #FFFFFF;
}